{{#partial "content"}}
    <h1>Check out our favorite Portland eats!</h1>

    {{#if restaurants}}
        <ul>
        {{#each restaurants}}
            <li><a href="/restaurants/{{id}}">{{restaurantName}}</a></li>
            <!--<ul>-->
                <!--<li>Neighborhood: {{neighborhood}}</li>-->
                <!--<li>Genre: {{genre}}</li>-->
                <!--<li>Favorite dish: {{favoriteDish}}</li>-->
                <!--<li>Rating: {{rating}}</li>-->
            <!--</ul>-->
        {{/each}}
        </ul>
    {{else}}
        <p>No entries</p>
    {{/if}}


{{/partial}}

{{> layout.hbs}}